@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.square {
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  /* display: flex; */
  width: 180px;
  height: 120px;
  justify-content: "center";
  align-items: "center";
  font: 3.5rem "Fredericka the Great", cursive;
  color: white;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(225, 225, 225, 0.4),
    0 6px 20px 0 rgba(225, 225, 225, 0.4);
}

.square:hover {
  box-shadow: 1px 1px 10px 1px rgba(225, 225, 225, 0.95);
  background-color: rgba(225, 225, 225, 0.3);
}

@media screen and (max-width: 768px) {
  .square {
    width: 100px;
  }
}
